name: CI

on: [push, pull_request]

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Install LilyPond
      run: |
        wget --no-verbose https://lilypond.org/download/binaries/linux-64/lilypond-2.22.1-1.linux-64.sh
        sudo sh lilypond-2.22.1-1.linux-64.sh --batch

    - name: Create PDFs
      run: find . -maxdepth 1 -name '*.ly' -exec lilypond {} \;
