name: CI

on: [push, pull_request]

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Install LilyPond
      run: |
        wget --no-verbose https://gitlab.com/lilypond/lilypond/-/releases/v2.24.4/downloads/lilypond-2.24.4-linux-x86_64.tar.gz
        tar -xf lilypond-2.24.4-linux-x86_64.tar.gz
        echo "$(pwd)/lilypond-2.24.4/bin" >> $GITHUB_PATH

    - name: Create PDFs
      run: find . -maxdepth 1 -name '*.ly' -exec lilypond {} \;
